* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap');


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 20px;
}

.navegacao {
    display: flex;
    flex-flow: row wrap;
    
    a{
        color: aliceblue;
        padding: 20px;
        text-decoration: none;
        font-size: 25px;
        &:hover {
            background-color: #122a388c;
            border-radius: 7px;
            transform: scale(1.5);
            transition: 0.2s ease;
        }
    }
}

body
{
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 15px;
    background: rgb(14,76,112);
    background: radial-gradient(circle, rgba(14,76,112,1) 0%, rgba(19,101,150,1) 0%, rgba(9,55,79,0.9948354341736695) 64%, rgba(8,49,71,1) 75%, rgba(5,33,47,1) 88%, rgba(0,8,9,0.9360119047619048) 97%);
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    text-align: center;

    h1 {
        margin-top: 50px;
        font-size: 40px;
        margin-bottom: 100px
    }

    img {
        animation: animar-icon  0.5s ease infinite alternate-reverse;

        &:hover {
            animation: none;
        }
    }

}

.flex-container
{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;

}

li
{
    display: inline-block;
}
.equipe > ul > li:hover
{
    border-radius: 50%;
    box-shadow: 1px 2px 4px #dce9f1c4;
    transform:translate(5%, -10%);
    transition: 0.2s ease-in-out;
}

//animações
@keyframes animar-icon {
    0% {transform: translateY(0);}
    100% {transform: translateY(5px);}
}