@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.192);
  padding: 20px;
}

.navegacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navegacao a {
  color: aliceblue;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}

.navegacao a:hover {
  background-color: #122a388c;
  border-radius: 7px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body {
  height: 100vh;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: 15px;
  background: #0e4c70;
  background: radial-gradient(circle, #0e4c70 0%, #136596 0%, rgba(9, 55, 79, 0.994835) 64%, #083147 75%, #05212f 88%, rgba(0, 8, 9, 0.936012) 97%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  text-align: center;
}

main h1 {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 100px;
}

main img {
  animation: animar-icon  0.5s ease infinite alternate-reverse;
}

main img:hover {
  -webkit-animation: none;
          animation: none;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50vh;
}

li {
  display: inline-block;
}

.equipe > ul > li:hover {
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 4px #dce9f1c4;
          box-shadow: 1px 2px 4px #dce9f1c4;
  -webkit-transform: translate(5%, -10%);
          transform: translate(5%, -10%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@-webkit-keyframes animar-icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes animar-icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
/*# sourceMappingURL=equipe.css.map */