* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "vellocette";
  src: url("../fonts/Velocette.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  letter-spacing: 1.5px;
  font-family: 'Rajdhani', sans-serif;
}

.background {
  height: auto;
  overflow: hidden;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
}

.general__container {
  min-width: 320px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navegacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navegacao a {
  color: aliceblue;
  padding: 20px;
  text-decoration: none;
  margin-left: 40px;
  font-size: 25px;
}

.navegacao a:hover {
  background-color: #122a388c;
  border-radius: 7px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

main h1 {
  color: #dae1e9;
  font-size: 70px;
  margin-bottom: 10px;
  font-family: 'vellocette';
  text-shadow: 2px 4px 3px rgba(18, 27, 30, 0.62);
  letter-spacing: 7px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.651);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 1rem;
  width: 95vw;
  margin: 0 auto;
  max-width: 1440px;
  border-radius: 10px;
  padding: 10px;
}

.section__cards article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.555);
  width: 300px;
  height: 350px;
  border-radius: 7px;
  margin-top: 1rem;
  margin: 10px;
  -webkit-box-shadow: 3px 6px 15px 1px #0c77ba8c;
          box-shadow: 3px 6px 15px 1px #0c77ba8c;
  color: aliceblue;
  font-size: 23px;
}

.section__cards article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  -webkit-animation: card-neon 1s ease-in-out infinite alternate;
          animation: card-neon 1s ease-in-out infinite alternate;
}

.section__cards article img {
  border-radius: 10px;
}

.section__cards p {
  border-bottom: 1px solid #0C78BA;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.section__card__lixeira--disable {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.section__card__lixeira--disable:hover {
  -webkit-animation: lixeira  0.1s ease;
          animation: lixeira  0.1s ease;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.section__card__lixeira__img--disable {
  position: absolute;
  width: 30px;
  opacity: 0.4;
  background-color: rgba(162, 163, 163, 0.514);
  padding: 2px;
  border-radius: 7px;
}

.section__card__lixeira {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
  height: 80px;
  padding: 7px;
}

.section__card__lixeira:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

.section__card__lixeira__img1 {
  position: absolute;
  width: 30px;
  background-color: rgba(255, 85, 99, 0.719);
  padding: 2px;
}

.section__card__lixeira__img1:hover {
  margin-bottom: 3px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

.section__card__lixeira__img2 {
  position: absolute;
  width: 30px;
  padding: 2px;
}

.section__card__lixeira__img2:hover {
  margin-top: 3px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

.imagem-card {
  max-width: 220px;
  max-height: 170px;
  width: auto;
  height: auto;
}

.conteudo-card {
  width: 280px;
}

.section__card__box__paragrafo {
  overflow: auto;
  height: 200px;
}

.section__card__box__paragrafo::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.section__card__box__paragrafo::-webkit-scrollbar-thumb {
  background: linear-gradient(122deg, #005991 34%, #42B7FF 77%);
  border: 2.7px outset #024B78;
  border-radius: 24px;
}

.section__card__box__paragrafo::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(150deg, #6472DB 20%, #20AEE6 43%);
}

.section__card__box__paragrafo::-webkit-scrollbar-track {
  border-radius: 30px;
}

.section__paragrafo {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-abrir-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 60px;
  height: 84px;
  position: fixed;
  bottom: 25px;
  right: 2px;
  cursor: pointer;
  -webkit-animation: go-back 0.7s infinite alternate;
          animation: go-back 0.7s infinite alternate;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  color: #c5c6e2;
}

.btn-abrir-form:hover p {
  color: #fdfdfd;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.btn-abrir-form img {
  width: 60px;
  -webkit-animation: girar 1.5s linear infinite;
          animation: girar 1.5s linear infinite;
  border-radius: 100%;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 17px;
  margin-bottom: 0;
}

footer a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  background-color: #0c77ba9d;
  border-radius: 30px;
  padding: 15px;
  font-size: 25px;
}

footer a:hover {
  background-color: #122a388c;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@-webkit-keyframes go-back {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes go-back {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes girar {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes girar {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes lixeira {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lixeira {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes card-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.644), 0 0 15px rgba(255, 255, 255, 0.644), 0 0 25px rgba(255, 255, 255, 0.644), 0 0 35px #228dff8f, 0 0 65px #228dff8f, 0 0 75px #228dff8f, 0 0 85px #228dff8f, 0 0 95px #228dff8f;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.644), 0 0 15px rgba(255, 255, 255, 0.644), 0 0 25px rgba(255, 255, 255, 0.644), 0 0 35px #228dff8f, 0 0 65px #228dff8f, 0 0 75px #228dff8f, 0 0 85px #228dff8f, 0 0 95px #228dff8f;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.644), 0 0 5px rgba(255, 255, 255, 0.644), 0 0 10px rgba(255, 255, 255, 0.644), 0 0 13px #228dff8f, 0 0 27px #228dff8f, 0 0 35px #228dff8f, 0 0 45px #228dff8f, 0 0 60px #228dff8f;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.644), 0 0 5px rgba(255, 255, 255, 0.644), 0 0 10px rgba(255, 255, 255, 0.644), 0 0 13px #228dff8f, 0 0 27px #228dff8f, 0 0 35px #228dff8f, 0 0 45px #228dff8f, 0 0 60px #228dff8f;
  }
}
/*# sourceMappingURL=style.css.map */