
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "vellocette";
    src: url('../fonts/Velocette.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    letter-spacing: 1.5px;
    font-family: 'Rajdhani', sans-serif;
}

.background {
    height: auto;
    overflow: hidden;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
}

.general__container {
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top__container {
    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.navegacao {
    display: flex;
    flex-flow: row wrap;
    
    a{
        color: aliceblue;
        padding: 20px;
        text-decoration: none;
        margin-left: 40px;
        font-size: 25px;
        &:hover {
            background-color: #122a388c;
            border-radius: 7px;
            transform: scale(1.5);
            transition: 0.2s ease;
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

    h1 {
        color: rgb(218, 225, 233);
        font-size: 70px;
        margin-bottom: 10px;
        font-family: 'vellocette';
        text-shadow: 2px 4px 3px rgba(18,27,30,0.62);
        letter-spacing: 7px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section__cards {
    display: flex;
    background-color: rgba(0, 0, 0, 0.651);
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 95vw;
    margin: 0 auto;
    max-width: 1440px;
    border-radius: 10px;
    padding: 10px;

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.555);
        width: 300px;
        height: 350px;
        border-radius: 7px;
        margin-top: 1rem;
        margin: 10px;       
        box-shadow: 3px 6px 15px 1px #0c77ba8c;
        color: aliceblue;
        font-size: 23px;

        &:hover {
            transform: scale(1.05);
            transition: 0.2s ease;
            cursor: pointer;
            animation: card-neon 1s ease-in-out infinite alternate;
        }

        img {
            border-radius: 10px;
        }
    }
    

    p {
        border-bottom: 1px solid #0C78BA;
        border-radius: 10px;
        margin: 20px;
        padding: 10px;
    }
}
.section__card__lixeira--disable {

    align-self: flex-end;
    width: 80px;
    height: 80px;
    padding: 10px;
    &:hover {
        animation: lixeira  0.1s ease;
        animation-iteration-count: 2;       
    }
}

.section__card__lixeira__img--disable {
    position: absolute;
    width: 30px;
    opacity: 0.4;
    background-color: rgba(162, 163, 163, 0.514);
    padding: 2px;
    border-radius: 7px;
}

.section__card__lixeira {
    align-self: flex-end;
    width: 80px;
    height: 80px;
    padding: 7px;

    &:hover {
        transform: scale(1.1);
        transition: ease 0.3s;
        cursor: pointer;
    }
}

.section__card__lixeira__img1 {
    position: absolute;
    width: 30px;
    background-color: rgba(255, 85, 99, 0.719);
    padding: 2px;
    &:hover {
        margin-bottom: 3px;
        transition: ease 0.3s;
        cursor: pointer;
    }
}

.section__card__lixeira__img2 {
    position: absolute;
    width: 30px;
    padding: 2px;
    &:hover {
        margin-top: 3px;
        transition: ease 0.3s;
        cursor: pointer;
    }
}

.imagem-card {
    max-width: 220px;
    max-height:170px;
    width: auto;
    height: auto;
}

.conteudo-card {
    width: 280px;
}

.section__card__box__paragrafo {
    overflow: auto;
    height: 200px;
    &::-webkit-scrollbar{
        width: 7px;
        height: 7px;
    }
    &::-webkit-scrollbar-thumb{
        background: linear-gradient(122deg, #005991 34%,#42B7FF 77%);
        border: 2.7px outset #024B78;
        border-radius: 24px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(150deg, #6472DB 20%,#20AEE6 43%);
    }
    &::-webkit-scrollbar-track{
        border-radius: 30px;
    }
}

.section__paragrafo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-abrir-form {
    box-sizing: border-box;
    margin: 0;
    width: 60px;
    height: 84px;
    position: fixed;
    bottom: 10px;
    right: -2px;
    cursor: pointer;
    animation: go-back 0.7s infinite alternate;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
    color: rgb(197, 198, 226);
    &:hover {
        p {
            color: rgb(253, 253, 253);
            transition: ease-in 0.3s;
        }
    }   
    
    img {
        width: 60px;
        animation: girar 1.5s linear infinite;
        border-radius: 100%;
    }
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 17px;
    margin-bottom: 0;

    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        background-color: #0c77ba9d;
        border-radius: 30px;
        padding: 15px;
        font-size: 25px;
        
        &:hover {
            background-color: #122a388c;
            transition: 0.2s ease;
        }
    }
}

//animações
@keyframes go-back {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(0.9); }
  }
  
@keyframes girar {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg) };
}
 
  @keyframes lixeira {
    0% {transform: translateX(0);} 
    25% {transform: translateX(5px);}
    50% {transform: translateX(0);} 
    75% {transform: translateX(-5px);} 
    100% {transform: translateX(0);} 
}

@-webkit-keyframes card-neon {
  from {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.644), 0 0 15px rgba(255, 255, 255, 0.644), 0 0 25px rgba(255, 255, 255, 0.644), 0 0 35px #228dff8f, 0 0 65px #228dff8f, 0 0 75px #228dff8f, 0 0 85px #228dff8f, 0 0 95px #228dff8f;
  }
  to {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.644), 0 0 5px rgba(255, 255, 255, 0.644), 0 0 10px rgba(255, 255, 255, 0.644), 0 0 13px #228dff8f, 0 0 27px #228dff8f, 0 0 35px #228dff8f, 0 0 45px #228dff8f, 0 0 60px #228dff8f;
  }
}