*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general__container {
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top__container {
    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 1px solid black;
}

.navegacao {
    display: flex;
    flex-flow: row wrap;
    
    a{
        padding: 20px;
        text-decoration: none;
    }
}



main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

    h1 {
        margin-bottom: 10px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section__cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 95vw;
    margin: 0 auto;
    max-width: 1440px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-top: 1rem;
        margin: 10px;
        
        img {
            border-radius: 10px;
        }
    }
    
    p {
        border-bottom: 1px solid black;
        border-radius: 10px;
        margin: 20px;
        padding: 10px;
    }
}
.section__card__lixeira--disable {
    opacity: 0.5;
    align-self: flex-end;
    width: 80px;
    height: 80px;
    padding: 10px;
    &:hover {
        animation: lixeira  0.1s ease;
        animation-iteration-count: 2;       
    }
}

.section__card__lixeira__img--disable {
    position: absolute;
    width: 30px;
}

.section__card__lixeira {
    align-self: flex-end;
    width: 80px;
    height: 80px;
    padding: 10px;

    &:hover {
        transform: scale(1.1);
        transition: ease 0.3s;
        cursor: pointer;
    }
}

.section__card__lixeira__img1 {
    position: absolute;
    width: 30px;
    &:hover {
        margin-bottom: 3px;
        transition: ease 0.3s;
        cursor: pointer;
    }
}

.section__card__lixeira__img2 {
    position: absolute;
    width: 30px;
    &:hover {
        margin-top: 3px;
        transition: ease 0.3s;
        cursor: pointer;
    }
}

.imagem-card {
    width: 200px;
    height: 150px;
}

.conteudo-card {
    width: 280px;
}

.section__card__box__paragrafo {
    overflow: auto;
    height: 200px;
}

.section__paragrafo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-abrir-form {
    box-sizing: border-box;
    margin: 0;
    width: 60px;
    height: 84px;
    position: fixed;
    bottom: 10px;
    right: -2px;
    cursor: pointer;
    animation: go-back 0.7s infinite alternate;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
    &:hover {
        p {
            color: rgb(11, 12, 37);
            transform: scale(1.1);
            transition: ease-in 0.3s;
        }
    }   
    
    img {
        width: 60px;
        animation: girar 0.5s linear infinite;
        border-radius: 100%;
    }
}

footer {
    text-align: center;
    margin-top: 30px;
    border: 1px solid black;
    padding: 17px;
    margin-bottom: 0;

    a {
        text-decoration: none;
        border: 1px solid blue;
        padding: 10px;
    }
}

//animações
@keyframes go-back {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(0.9); }
  }
@keyframes girar {
    from {
      transform: rotate(0);
    }
    to {
        transform: rotate(360deg) };
  }
 
  @keyframes lixeira {
    0% {
        // transform: scale(0.9);
        transform: translateX(0);
    }; 
    25% {transform: translateX(5px);}

    50% {
        // transform:  scale(1);
        transform: translateX(0);
    }; 
    75% {
        // transform:  scale(0.9);
        transform: translateX(-5px);
    }; 
    100% {
        // transform:  scale(1);
        transform: translateX(0);
    }; 
}

//media query

// @media (min-width: 768px) and (max-width: 1023px){

//     .general__container {
//         height: 100vh;
//         display: flex;
//         flex-direction: column;
//     } 
// }
// @media (min-width: 1024px) {

//     .general__container {
//         min-height: 94vh;
//         display: flex;
//         flex-direction: column;
//     }  
// }